body{
    background-color:#01080e ;
  }
  header{
      background-color: #01080e;
      background-color: #01080E;
      background-size: cover;    
  }
  
  header{
      padding: 50px 4%;
      height: 100vh;
  }
  
  .interface{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
  }
  
  .navigation{
      display: flex;
      align-items: center;
      justify-content: baseline;
      column-gap: 36px;
      list-style-type: none;
  }
  
  .button-contato{
      color: #ef0e0edb;
      border: 1px solid #ef0e0edb;
      border-radius: 10px;
      padding: 7px 14px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 2px;
      transition: 0.4s;
  }
  
  .button-contato:hover{
      background-color: #ef0e0edb;
      color: white;
  }
  
  .menu{
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 2px;
      opacity: .7;
      transition: transform 0.2s;
  }
  .menu:hover{
      transform: scale(1.2);
      opacity: 1;
  
  }
  
  .menu a{
      color: white;
  }
  
  .menu a:hover{
      color: #ef0e0edb;
  }
  
  .navigation .index{
      color: #ef0e0edb;
      opacity: 1.5;
  }
  
  .logo{
      width: 50px ;
  }
  
  /* ESTILO DO TOPO DO SITE */
  section.topo-do-site{
      padding: 40px 4% ;
  }
  
  .flex{
      display: flex;
  }
  section.topo-do-site .flex{
      align-items: center;
      justify-content: center;
      gap: 90px;
      margin: 80px;
  }
  .topo-do-site h1{
      color:white
  }
  .topo-do-site h2 span{
      color: #ef0e0edb;
  }
  .topo-do-site h2{
      color: white;
  }
  .topo-do-site p{
      color: white; 
      margin: 40px 0px;
      text-align: justify;
  }
  main img{
      width: 450px;
      height: 450px;
      border-radius: 10%;
  }
  section.icon .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    border-color: #ef0e0edb;
    font-size: 30px;
  }