html{
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Lobster Two', sans-serif;
}

a {
    text-decoration: none;
    color: white
}

.interface{
    max-width: 1280px;
    margin: auto
}

body{
    color: white
}
@import "partials/_gheader.scss";
@import "partials/gsobre";
@import "partials/ghabilidades";
@import "partials/gportfolio";
@import "partials/gcontato";

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

