.titulo-contato{
    text-align: center;
    color: white;
    font-size: 5.3rem;

    span{
        color: #40bb7f ;
    }
}
form{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 28px;
    flex-direction: column;
    padding-top: 64px;

    .formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex: 1;
    }

    .mensagem{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 34px;
    }

    input, textarea{
        width: 100%;
        background: transparent;
        border: 1.5px solid #fff;
        outline: 0;
        box-shadow: none;
        border-radius: 6px;
        padding: 12px 18px;
        font-size: 16px;
        color: #e3e3e3;
        transition: 0.4s;
      
    }

    textarea{
        resize: none;
        overflow: auto;
        margin-top: 1rem;
        padding-bottom: 5%;
        height: 260px;
        width: 100%;
        
    }

    .button-submit input{
        width: 160px;
        height: 60px;
        font-size: 24px;
        font-weight: 600;
        background-color: #40bb7f;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.4s;
    }

    .button-submit input:hover{
        background-color: #fff;
        color: #40bb7f;

    }
}

form input:focus-within, textarea:focus-within{
    border: 1.5px solid #40bb7f;
    
}

.rodape{
    background-color: #01080e;
}

.rodape-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;

    p{
        color: white;
        font-weight: 400;
        font-size: 18px;
        opacity: 0.8;
    }
}


@media screen and (max-width: 820px){
    .titulo-contato{
        font-size: 3.4rem;
    }

    .formulario{
        flex-direction: column;
    }
    
    form {
        gap: 0;

        textarea{
            height: 160px;
        }
    }

    form .button-submit input{
        width: 120px;
        height: auto;
        font-size: 20px;
    }

    .rodape-content p{
        font-size: 12px;
    }
}