
.background{
    background-color: #01080e;
}

header{
    padding: 0px 4%;
    background-color: #01080e9a;
    position: fixed;
    width: 100%;
    z-index: 999;
    
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 100px;
    height: 100px;
}

.menu-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-left: auto;
    list-style-type: none;
}

.navigation-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    display: inline-block;
    opacity: 0.7;
    transition: transform 0.4s;

}


.navigation-link:hover {
    color: #40bb7f;
    opacity: 1;
    transform: scale(1.3);

}

.navigation-linkinicial {
    color: #40bb7f;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.7;
    display: inline-block;
    transition: all 0.4s;

}

.navigation-linkinicial:hover {
    opacity: 1;
    transform: scale(1.3);

}


.button-contact {
    float: left;


}

.button-contact button {
    background-color: transparent;
    border: 1px solid #40bb7f;
    color: #40bb7f;
    padding: 10px 25px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 16px;
    font-weight: 400;
}

.button-contact button:hover {
    transform: scale(1.1);
    background-color: #40bb7f;
    color: white;
}

/*========================================================================*/
section{
    padding: 60px 4%;
}

.foto-inicio{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.content {
    padding: 4.5rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.content h1 {
    color: white;
    text-align: center;
    font-size: 6rem;

}

.content h1 span {
    color: #40bb7f;
}

.content{
    color: white;
    text-align: center;
    font-size: 1.6rem;
}

.sociais-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.sociais-inicio .redes-sociais{
    list-style-type: none;
    display: flex;
    gap: 16px;

    i{
        color: #40bb7f;
        font-size: 26px;
    }


}




.sociais-inicio button{
    background-color: transparent;
    border: 1px solid #40bb7f;
    color: #40bb7f;
    padding: 10px 25px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 16px;
    font-weight: 400;
}

.sociais-inicio button:hover {
    transform: scale(1.1);
    background-color: #40bb7f;
    color: white;
}

@media screen and (max-width: 767px){

    section{
        padding: 70px 10%;
    }
    header{
        position: static;
    }
    .menu-desktop{
        display: none;
    }

    .foto-inicio{
        width: 300px;
        height: 300px;
    }

    .content{
        padding: 2.5rem 0 1rem 0;

        h1{
            font-size: 3rem;
        }

        p{
            font-size: 1.1rem;
        }
    }

    .sociais-inicio{
        gap: 16px;

    }

}