
.sobre{
    background-color: #f6f6f6;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sobre-conteudo h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 14px;
}

.sobre-conteudo p{
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
    font-size: 1.1rem;
}

.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.foto{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0,0.45);
    overflow: hidden;
    position: relative;

    img{
        width: 100%;
        max-width: 374px;
        transition: transform 0.25s;
    }
}

.foto img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.foto-info{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 14px;
    background-color: white;
    z-index: 99;
    color: black;
}


.footer-content{
    padding: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;

    p{
        max-width: 360px;
    }

    img{
        width: 120px;
    }
}



@media screen and (max-width: 822px){
    section{
        padding: 60px 10%;
    }
    .sobre-conteudo p{
       
        font-size: 1.2rem;
        
    }

    .fotos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

   
}