.portfolio{
    background-color: #ede7de ;
    height: 110vh;
    padding: 4rem 4%;
    
}
.container{
    max-width: 1140px;
}

.titulo-portfolio{
    text-align: center;
    font-size: 7.5em;
    font-weight: 700;
    color: #01080e;
    span{
        color: #025a4e;
    }
    
}
.portfolio-content{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-top: 6rem;
}

.projeto{
    width: 25vw;
    height: 65vh;
    background-color: lightgray;
    color: black;
    font-family: none;
    border-radius: 30px;
    position: relative;

    p{
        font-size: 3.2rem;

    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
    background-color: #01080ed3;
    transition:1s;
    opacity: 0;
    
    

}
.overlay:hover{
    opacity: 1;
}