.about{
    background-color:#ede7de;
    height: 110vh;
    padding: 4rem 4%;
}
.about-container{
    max-width: 1240px;
    margin: auto;
}

.titulo{
    text-align: center;
    font-size: 7.5rem;
    font-weight: 700;
    color:
        #025a4e;


}

.about-content {
    display: flex;
    justify-content: center;
    padding: 3.4rem 1.4rem 0;
    max-width: 1240px;
    margin: 0 auto;
    gap: 12rem;

    img {
        width: 35rem;
    }
}

.about-text {
    max-width: 60rem;
    color: #025a4e;

    h2 {
        font-size: 2.7rem;
    }

    p {
        margin-top: 1.6rem;
        font-size: 1.7rem;
    }
}

.foto {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    gap: 1.6rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
}

/*=====================================================================================*/